<template>
	<header class="index-header">
		<Logo />
	</header>
</template>

<script>
export default {
	name: 'HeaderLanding'
}
</script>

<style lang="scss">
.index-header {
	padding: 20px;
}

@media #{$medium} {
	.index-header {
		padding: 20px 50px;
	}
}
</style>
