<template>
	<header class="site-header text-white bg-suitmedia">
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c hidden--medium" data-col="s2">
				<button
					class="btn btn--black80 btn--large btn--icon js-toggle-sidebar"
					aria-label="Menu"
					@click="sidebarToggle"
				>
					<i class="bzi bzi-bars text-white"></i>
				</button>
			</div>
			<div class="bzg_c header-content" data-col="s8,m10">
				<h3 class="mb-8 js-site-title font-fira text-responsive">
					<nuxt-link class="text-white link-white" to="/">
						<img
							class="logo-nav"
							src="~assets/img/baze-flat-icon.png"
							alt="Baze Logo"
						/>
						Suitbaze
					</nuxt-link>
				</h3>
			</div>
			<div class="bzg_c header-content header-link text-right" data-col="s2,m2">
				<a
					class="text-white link-white js-site-title ml-12"
					href="https://github.com/suitmedia/generator-suit-baze"
					target="blank"
					aria-label="github-icon"
					><i class="bzi bzi-github bzi-lg"></i
				></a>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderNav',
	props: {
		isShow: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			mainNav: [],
			isActive: this.isShow
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/menus.json`)
			.then(res => {
				this.mainNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	methods: {
		sidebarToggle() {
			this.isActive = !this.isActive
			this.$emit('toggle', this.isActive)
		}
	}
}
</script>

<style lang="scss">
.logo-nav {
	height: 30px;
}

.text-responsive {
	line-height: 1.5em;
}

@media #{$medium} {
	.hidden--medium {
		display: none;
		visibility: hidden;
	}

	.text-responsive {
		margin-left: 12 * 1px !important;
		line-height: 1.38889em;
	}

	.logo-nav {
		height: 35px;
	}
}
</style>
