// Typography
// ------------------------------------------------------------------------ //
$base_px_font_size: 16;
$base_font_size: $base_px_font_size * 1px;
$base_line_height: 1.6;
$font_serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
	'Helvetica Neue', Arial, sans-serif;
$base_font_family: $font_serif;
$space: $base_line_height * 1em;

// Colors
// ------------------------------------------------------------------------ //

$palettes: (
	'suitmedia': #ff6700,
	'primary': #0094ed,
	'secondary': #76848c,
	'warning': #ffae00,
	'danger': #f0210b,
	'black': #000,
	'orange': #ff6600,
	'red': #d60000,
	'green': #30981d,
	'grey': #828282,
	'dark': #555,
	'dark-grey': #656565,
	'yellow': #fcc12d,
	'blue': #4f8ad0
);

$light-palettes: (
	'light-grey': #d3d3d3,
	'white': #fff,
	'light-green': #66b947,
	'light-blue': #0094ed
);

$tones-palettes: (
	'black10': #e6e6e6,
	'black20': #ccc,
	'black30': #b3b3b3,
	'black40': #999,
	'black50': gray,
	'black60': #666,
	'black70': #4d4d4d,
	'black80': #333,
	'black90': #1a1a1a
);

$hover-palettes: (
	'suitmedia': #cc5200,
	'primary': #0074ba,
	'secondary': #5e6a71,
	'warning': #cc8b00,
	'danger': #bf1a09,
	'black': #4d4d4d,
	'light-grey': #bababa,
	'white': #e6e6e6,
	'black10': #000,
	'black20': #000,
	'black30': #000,
	'black40': #000,
	'black50': #000,
	'black60': #000,
	'black70': #000,
	'black80': #000,
	'black90': #000,
	'grey': #828282,
	'dark': #555,
	'dark-grey': #656565,
	'yellow': #fcc12d,
	'blue': #4f8ad0
);

$alert-palettes: (
	'suitmedia': #ff6700,
	'primary': #0094ed,
	'secondary': #76848c,
	'warning': #ffae00,
	'danger': #f0210b,
	'black': #000,
	'light-grey': #a0a0a0,
	'white': #ccc
);

$background-palettes: (
	'suitmedia': #ffc8a3,
	'primary': #91d6ff,
	'secondary': #cfd4d6,
	'warning': #ffe2a3,
	'danger': #fbaca3,
	'black': #525252,
	'light-grey': #d3d3d3,
	'white': #fff
);

$border-palettes: (
	'suitmedia': #662900,
	'primary': #003454,
	'secondary': #303639,
	'warning': #664600,
	'danger': #5e0d04,
	'black': #000,
	'light-grey': #878787,
	'white': #b3b3b3
);

$background-card-palettes: (
	'suitmedia': #b34800,
	'primary': #0064a1,
	'secondary': #535d63,
	'warning': #b37a00,
	'danger': #a71708,
	'black': #000,
	'light-grey': #adadad,
	'white': #d9d9d9
);

@function palette($color) {
	@if map-has-key($palettes, $color) {
		@return map-get($palettes, $color);
	} @else if map-has-key($light-palettes, $color) {
		@return map-get($light-palettes, $color);
	} @else {
		@warn "key `#{$color}` was not found. Falling back to #000";
		@return #000;
	}
}

$primary: palette('primary');
$green: palette('green');
$orange: palette('orange');
$red: palette('red');
$grey: palette('grey');
$dark-grey: palette('dark-grey');
$yellow: palette('yellow');
$blue: #4f8ad0;
$light-green: palette('light-green');
$black: #000;
$black90: lighten($black, 10%);
$black80: lighten($black, 20%);
$black70: lighten($black, 30%);
$black60: lighten($black, 40%);
$black50: lighten($black, 50%);
$black40: lighten($black, 60%);
$black30: lighten($black, 70%);
$black20: lighten($black, 80%);
$black10: lighten($black, 90%);
$black7: lighten($black, 93%);
$black5: lighten($black, 95%);

$link: $primary;
$link_hover: darken($link, 10%);

$selection_bg: #b3d4fc;
$selection_color: $black;

$shadow: 0 2px 6px rgba($black, 0.4);

// Break Points
// ------------------------------------------------------------------------ //

$small: 'screen and (min-width: 28em)';
$small_portrait: 'screen and (min-width: 28em) and (orientation: portrait)';
$small_landscape: 'screen and (min-width: 28em) and (orientation: landscape)';

$medium: 'screen and (min-width: 48em)';
$medium_portrait: 'screen and (min-width: 48em) and (orientation: portrait)';
$medium_landscape: 'screen and (min-width: 48em) and (orientation: landscape)';

$large: 'screen and (min-width: 64em)';
$extra_large: 'screen and (min-width: 75em)';

$retina: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 1.25dppx), (min-resolution: 120dpi)';

@import '../mixin/mixin';
