@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/helpers';
@import 'partials/print';

@import 'modules/modules';
@import 'plugins/vue-slick';

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

body {
	// text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: $black70;
	background-color: #fff;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link_hover;
	}
}

.color-inherit {
	&:hover,
	&:focus {
		color: inherit !important;
	}
}

.block {
	margin-bottom: $space;
}

.block-half {
	margin-bottom: ($space / 2);
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	// @media #{$extra_large} {
	// 	max-width: 1280px;
	// }
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;

	box-shadow: 0px 0px 10px #333333;

	.header-content {
		display: inline;
		padding: 8px 16px 0 8px;

		&.header-link {
			line-height: 2.4;
		}
	}

	@media #{$medium} {
		.header-content {
			padding: 5px 16px 3px 8px;
		}
	}
}

.main {
	padding-top: 70px;

	@media #{$large} {
			padding-top: 120px;
	}

	&.main--pushed {
		margin-left: 0;

		@media #{$medium} {
				margin-left: 215px;
		}
	}
}

.site-main {
	position: relative;
	z-index: 1;

	margin-top: 60px;

	&.header-overlap {
		margin-top: 0;
	}

	@media #{$large} {
		margin-top: 70px;
	}
}

.page-enter-active,
.page-leave-active {
	opacity: 1;
	transition: opacity 0.2s;
	will-change: opacity;
}

.page-enter,
.page-leave-to {
	opacity: 0;
}

// highlight.js
.hljs {
	padding: 0.5em !important;
}
