<template>
	<div v-if="show" class="alert--popup" @click.self="closeAlert">
		<div :class="['alert--popup-content', type]">
			<span class="alert--close js-alert-close" @click="closeAlert">
				<i class="bzi bzi-close"></i>
			</span>
			<h4>{{ title }}</h4>
			<slot></slot>
		</div>
	</div>
</template>

<script>
export default {
	name: 'AlertPopup',
	props: {
		title: {
			type: String,
			required: true
		},
		show: {
			type: Boolean,
			required: true
		},
		type: {
			type: String,
			required: true
		}
	},
	methods: {
		closeAlert() {
			this.$emit('closeAlert')
		}
	}
}
</script>
