<template>
	<div class="bzg bzg--flex card-group js-card">
		<div
			v-for="card in cards"
			:key="card.id"
			class="bzg_c mb-24"
			data-col="s12,m6,l3"
		>
			<card
				:header="card.header"
				:image="card.image"
				:url="card.url"
				type="primary"
				:is-group="true"
			>
				<div class="card--body">
					<h5>{{ card.title }}</h5>
					<p class="text-right">{{ formatTanggal(card.date) }}</p>
					<p class="mb-0">
						{{ card.description }}
					</p>
				</div>
				<div class="card--footer">{{ card.footer }}</div>
			</card>
		</div>
	</div>
</template>

<script>
export default {
	name: 'CardsComponent',
	props: {
		dataCard: {
			type: String,
			required: true
		}
	},
	data() {
		return {
			cards: []
		}
	},
	async fetch() {
		await this.$axios
			.get(this.dataCard)
			.then(res => {
				const temp = res.data
				this.cards = temp.filter(card => card.show === true)
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	methods: {
		formatTanggal(input) {
			return this.$formatDate(input)
		}
	}
}
</script>
