<template>
	<div :class="[{ card: !type }, className, { 'mb-12': !isGroup }]">
		<div class="card--header">{{ header }}</div>
		<a :href="url">
			<img v-if="image" class="card--image" :src="image" alt=""
		/></a>
		<slot></slot>
	</div>
</template>

<script>
export default {
	name: 'CardComponent',
	props: {
		header: {
			type: String,
			required: true
		},
		image: {
			type: String,
			default: ''
		},
		url: {
			type: String,
			default: '#'
		},
		type: {
			type: String,
			required: true
		},
		isGroup: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			className: ''
		}
	},
	created() {
		this.className = `card--${this.type}`
	}
}
</script>
