<template>
	<div>
		<button
			id="pluginBtn"
			class="sidebar__button link-black70"
			:class="{ 'is-active': dropdownStatus }"
			@click="dropdownToggle"
		>
			{{ title }}
			<i v-if="dropdownStatus" class="bzi bzi-caret-up"></i>
			<i v-if="!dropdownStatus" class="bzi bzi-caret-down"></i>
		</button>
		<ul
			v-if="dropdownStatus"
			class="list-nostyle sidebar__dropdown js-dropdown-content"
		>
			<li v-for="(nav, idx) in data" :key="idx">
				<nuxt-link
					class="sidebar__link link-black70"
					exact-active-class="is-active"
					:to="nav.url"
					>{{ nav.title }}</nuxt-link
				>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	name: 'DropdownNav',
	props: {
		title: {
			type: String,
			required: true
		},
		data: {
			type: Array,
			required: true
		}
	},
	data() {
		return {
			dropdownStatus: false
		}
	},
	watch: {
		$route(to, from) {
			const found = this.data.find(item => to.path.includes(item.url))
			found ? (this.dropdownStatus = true) : (this.dropdownStatus = false)
		}
	},
	created() {
		const path = this.$route.path
		const found = this.data.find(item => path.includes(item.url))
		found ? (this.dropdownStatus = true) : (this.dropdownStatus = false)
	},
	methods: {
		dropdownToggle() {
			this.dropdownStatus = !this.dropdownStatus
		}
	}
}
</script>
