<template>
	<figure class="media">
		<div class="media-figure">
			<img
				v-if="data.image.width"
				:src="data.image.source"
				alt=""
				:width="`${data.image.width}px`"
			/>
			<img v-else :src="data.image.source" alt="" />
		</div>
		<div class="media-content">
			<h4 v-if="data.title" class="media-title" :class="titleClass">
				{{ data.title.text }}
			</h4>
			<p>
				{{ data.content }}
			</p>
			<a v-if="data.cta" :href="data.cta.url">
				<i
					class="btn--small btn--icon mr-8 bzi bzi-thumbs-up"
					:class="iconClass"
				></i>
				<span>{{ data.cta.label }}</span>
			</a>
		</div>
	</figure>
</template>
<script>
export default {
	name: 'FigureMedia',
	props: {
		data: {
			type: Object,
			required: true
		}
	},
	computed: {
		iconClass() {
			return this.data.title.type
				? `btn--${this.data.title.type}`
				: 'btn--primary'
		},
		titleClass() {
			return this.data.cta.type ? `text-${this.data.cta.type}` : 'text-primary'
		}
	}
}
</script>
