<template>
	<footer class="index-footer text-center font-footer text-white f-14">
		<span class="mr-16">Version 2.20.0</span> |
		<span class="ml-16"
			>Powered by:
			<a class="text-white" href="https://suitmedia.com/" target="blank"
				>Suitmedia.com</a
			></span
		>
	</footer>
</template>

<script>
export default {
	name: 'FooterLanding'
}
</script>

<style lang="scss" scoped>
.index-footer {
	position: absolute;
	padding: 20px 0;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
</style>
