<template>
	<div class="flex v-center font-fira text-white">
		<img src="~assets/img/site-logo.png" alt="Baze Logo" width="35" />
		<h1>Baze UI</h1>
	</div>
</template>

<script>
export default {
	name: 'LogoBaze'
}
</script>

<style lang="scss" scoped>
h1 {
	font-weight: 800;
	font-size: 1.44em;
	line-height: 1.11111em;
	margin: 0 0 0 0.6em;
}
</style>
