<template>
	<section class="container">
		<div class="mb-24">
			<slot></slot>
		</div>
		<hr v-if="line" />
	</section>
</template>

<script>
export default {
	name: 'SectionDefault',
	props: {
		line: {
			type: Boolean,
			default: false
		}
	}
}
</script>
