<template>
	<aside :class="['sidebar', { 'is-active': isActive }]">
		<perfect-scrollbar>
			<nav>
				<ul v-if="!$fetchState.pending" class="list-nostyle mb-24">
					<li v-for="(nav, i) in mainNav" :key="i">
						<nuxt-link
							v-if="!nav.subMenu"
							id="getStartedNav"
							class="sidebar__link link-black70"
							exact-active-class="is-active"
							:to="nav.url"
							>{{ nav.title }}</nuxt-link
						>
						<div v-else>
							<DropdownNav :title="nav.title" :data="nav.subMenu" />
						</div>
					</li>
				</ul>
			</nav>
		</perfect-scrollbar>
	</aside>
</template>

<script>
export default {
	name: 'SideBar',
	props: {
		isActive: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			mainNav: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/menus.json`)
			.then(res => {
				this.mainNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
.ps {
	height: 100%;
}
</style>
