.alert {
	padding: 8px 16px;
	border: 1px solid;
	margin: 15px 0;
	font-family: inherit;
	line-height: 1.6;
	vertical-align: middle;
	background-color: #f0f0f0;
}

.alert hr {
	border-color: inherit;
}

.alert--popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
}

@mixin alertStyle($state, $color) {
	@extend .alert;
	color: $color;
	background-color: map-get($background-palettes, $state);

	hr {
		border-color: inherit;
	}
}

.alert--popup-content {
	width: 80%;
	margin: auto;
}

.alert--close {
	float: right;
}

.alert--close:hover {
	cursor: pointer;
}

@each $state, $color in $alert-palettes {
	.alert--#{$state} {
		@include alertStyle($state, $color);
	}
}
