.progress-bar {
	position: relative;
	overflow: hidden;
	background: rgba(lighten($primary, 40%), 0.3);
	border-radius: 4px;

	.bar {
		display: block;
		height: 4px;
		background: $primary;
		border-radius: 4px;

		@media #{$medium} {
			height: 8px;
		}
	}
}

.hash-container {
	background-color: rgba(lighten($primary, 40%), 0.2);
	padding: 14px 16px;
}

.card {
	display: flex;
	flex-direction: column;
	min-width: 0;
	border: 1px solid;
	font-family: inherit;
	line-height: 1.6;
}

.card--header,
.card--body,
.card--footer {
	padding: 8px 16px;
}

.card--header,
.card--footer {
	background: #d3d3d3;
}

@mixin cardStyle($state, $bg, $shade: dark) {
	@extend .card;
	border: 1px solid map-get($border-palettes, $state);

	background: $bg;

	@if $shade == dark {
		color: #fff;
	} @else if $shade == light {
		color: #000;
	}

	.card--header,
	.card--body,
	.card--footer {
		padding: 8px 16px;
	}

	.card--header,
	.card--footer {
		border-color: map-get($border-palettes, $state);
		background: map-get($background-card-palettes, $state);
	}
}

.card--image {
	width: 100%;
}

.card--header {
	border-bottom: 1px solid;
}

.card--body {
	flex: 1 1 auto;
}

.card--footer {
	border-top: 1px solid;
}

.card-group {
	display: flex;
	flex-flow: column wrap;

	.card {
		flex: 1 0 0%;
	}

	@media #{$medium} {
		flex-direction: row;

		.card {
			margin-left: 12px;
		}

		&.bzg--flex .card {
			margin-left: 0;
		}

		@each $state, $color in $palettes {
			.card--#{$state} {
				margin-left: 12px;
			}

			&.bzg--flex .card--#{$state} {
				margin-left: 0;
			}
		}

		@each $state, $color in $light-palettes {
			.card--#{$state} {
				margin-left: 12px;
			}

			&.bzg--flex .card--#{$state} {
				margin-left: 0;
			}
		}
	}
}

@each $state, $color in $palettes {
	.card--#{$state} {
		@include cardStyle($state, $color);
	}

	.card-group .card--#{$state} {
		flex: 1 0 0%;
	}
}

@each $state, $color in $light-palettes {
	.card--#{$state} {
		@include cardStyle($state, $color, 'light');
	}

	.card-group .card--#{$state} {
		flex: 1 0 0%;
	}
}
