.media {
	display: flex;
	align-items: flex-start;
}

.media-figure {
	margin-right: ($space / 2);
}

.media-title {
	margin-bottom: 6px;
}

.media-content {
	flex: 1;
	min-width: 0;
}

.responsive-media {
	position: relative;
	height: 0;
	overflow: hidden;

	&.r-16-9 {
		padding-bottom: 56.25%;
	}

	&.r-1,
	&.r-square {
		padding-bottom: 100%;
	}
}

.responsive-media > * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'object-fit:cover';
	object-fit: cover;
}
