.pagination,
.pagination--left,
.pagination--right {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 0 $space 0;
	list-style: none;
	user-select: none;

	li {
		margin: 0 2px;
	}

	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: solid 1px #ddd;
		color: currentcolor;
		background: #eee;

		&:hover,
		&:focus {
			background: #d5d5d5;
		}

		&.is-active {
			cursor: default;
			pointer-events: none;
			font-weight: bold;
			background: #d5d5d5;
		}
	}
}

.pagination--left {
	justify-content: flex-start;
}

.pagination--right {
	justify-content: flex-end;
}
