.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 215px;
	height: 100%;
	padding-top: 60px;
	border-right: 1px solid #cccccc;
	display: none;
	background-color: #fff;
	overflow: hidden;
	transition: transform 0.3s ease;
	transform: translateX(-100%);

	@media #{$medium} {
		display: block;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
		transition: none;
		transform: translateX(0);
	}

	&.is-active {
		display: block;
		transform: translateX(0);
	}

	.sidebar__link {
		display: block;
		padding: 8px 8px 8px 24px;
	}

	.sidebar__link.is-active {
		font-weight: 600;
		background: #e6e6e6;
	}

	.sidebar__button {
		position: relative;
		width: 100%;
		padding: 8px 8px 8px 24px;
		border: none;
		text-align: left;
		background: transparent;
		cursor: pointer;
	}

	.sidebar__button .bzi {
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translateY(-50%);
	}

	.sidebar__button.is-active {
		font-weight: 600;
	}

	.sidebar__dropdown li a {
		padding-left: 44px;
	}
}

.sidebar--overlay {
	position: fixed;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	overflow: auto;
}
