.tabs__bar,
.tabs__bar--justify {
	padding-left: 0;
	margin-bottom: 0;
	background: transparent;
	overflow: auto;
	white-space: nowrap;

	.tabs__nav {
		display: inline-block;
		padding: 5px 20px;
		text-align: center;

		&:hover {
			cursor: pointer;
		}

		&.is-active {
			border-bottom: 2px solid #0094ed;
			color: #0094ed;
		}
	}
}

.tabs__bar--justify {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	.tabs__nav {
		flex: auto;
		padding: 5px 20px;
	}
}

.tabs__item {
	display: none;

	&.is-active {
		display: block;
	}
}
