<template>
	<div id="app">
		<HeaderNav :is-show="isActive" @toggle="onToggle" />
		<SideBar :is-active="isActive" />
		<div
			v-if="isActive && responsive.isMobile"
			class="sidebar--overlay"
			@click="hideSidebar"
		></div>
		<div class="main js-main main--pushed">
			<div class="sticky-footer-container">
				<div class="sticky-footer-container-item --pushed">
					<nuxt />
				</div>
				<div class="sticky-footer-container-item">
					<footerDefault />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'DefaultLayout',
	inject: ['responsive'],
	data() {
		return {
			isActive: false
		}
	},
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	},
	computed: {
		responsiveValue() {
			return this.responsive.isMobile ? 'Mobile' : 'Desktop'
		}
	},
	methods: {
		onToggle(val) {
			if (this.isActive === false && val === false) {
				this.isActive = true
			} else if (this.isActive === true && val === true) {
				this.isActive = false
			} else {
				this.isActive = val
			}
		},
		hideSidebar() {
			this.isActive = false
		}
	}
}
</script>
