<template>
	<div id="app" class="bg-dark text-white flex direction-column h-full">
		<Header />
		<nuxt />
		<Footer />
	</div>
</template>

<script>
export default {
	name: 'LandingLayout',
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	}
}
</script>

<style lang="scss">
.direction-column {
	flex-direction: column;
}

.h-full {
	height: 100%;
}
</style>
