<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Alert</h2>
			<div class="alert">Alert default</div>
			<div class="alert--primary">Alert primary</div>
			<div class="alert--secondary">Alert secondary</div>
			<div class="alert--warning">Alert warning</div>
			<div class="alert--danger">Alert danger</div>
			<div class="alert--black">Alert black</div>
			<div class="alert--light-grey">Alert light-grey</div>
			<div class="alert--white">Alert white</div>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert"</span>&gt;</span>Alert default<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--primary"</span>&gt;</span>Alert primary<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--secondary"</span>&gt;</span>Alert secondary<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--warning"</span>&gt;</span>Alert warning<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--danger"</span>&gt;</span>Alert danger<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--black"</span>&gt;</span>Alert black<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--light-grey"</span>&gt;</span>Alert light-grey<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--white"</span>&gt;</span>Alert white<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Alert Box</h2>
			<button
				class="btn--primary js-trigger-alert"
				data-alert="#alert1"
				@click="showAlert(1)"
			>
				Alert 1
			</button>
			<button
				class="btn--primary js-trigger-alert"
				data-alert="#alert2"
				@click="showAlert(2)"
			>
				Alert 2
			</button>

			<alert-popup
				:show="show"
				:title="title"
				:type="type"
				@closeAlert="closeAlert"
			>
				<div v-html="content"></div>
			</alert-popup>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary js-trigger-alert"</span> <span class="hljs-attr">data-alert</span>=<span class="hljs-string">"#alert1"</span>&gt;</span>Alert 1<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn--primary js-trigger-alert"</span> <span class="hljs-attr">data-alert</span>=<span class="hljs-string">"#alert2"</span>&gt;</span>Alert 2<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--popup"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"alert1"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--primary alert--popup-content"</span> &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--close js-alert-close"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-close"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Lorem Ipsum!<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">hr</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
        Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--popup"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"alert2"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--danger alert--popup-content"</span> &gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"alert--close js-alert-close"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-close"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span> <span class="hljs-tag">&lt;<span class="hljs-name">h4</span>&gt;</span>Number 2<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Test Number 2<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'AlertPage',
	data() {
		return {
			show: false,
			title: '',
			content: '',
			type: '',
			data: {
				alert1: {
					title: 'Lorem Ipsum!',
					content:
						'<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> <hr> <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?</p>',
					type: 'alert--primary'
				},
				alert2: {
					title: 'Number 2',
					content: '<p>Test Number 2</p>',
					type: 'alert--danger'
				}
			}
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Alert',
				metaDesc: 'Alert Page',
				metaKeywords: 'alert, pop up'
			})
		}
	},
	methods: {
		showAlert(number) {
			if (number === 1) {
				this.title = this.data.alert1.title
				this.content = this.data.alert1.content
				this.type = this.data.alert1.type
			} else if (number === 2) {
				this.title = this.data.alert2.title
				this.content = this.data.alert2.content
				this.type = this.data.alert2.type
			}
			this.show = true
		},
		closeAlert() {
			this.show = false
		}
	},
	jsonld() {
		return {}
	}
}
</script>
