<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Baze Icon</h2>
			<div class="ml-24">
				<h5 class="mb-4">Icon Example</h5>
				<div class="flex flex-spacer v-center">
					<i class="bzi-briefcase"></i>
					<i class="bzi-globe"></i>
					<i class="bzi-notification"></i>
				</div>
				<div class="f-14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-bell"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span></code></pre>
				</div>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Icon Sizing</h2>
			<div class="flex flex--wrap v-end flex-spacer">
				<i class="bzi bzi-check-circle bzi-xs"></i>
				<i class="bzi bzi-check-circle bzi-sm"></i>
				<i class="bzi bzi-check-circle"></i>
				<i class="bzi bzi-check-circle bzi-lg"></i>
				<i class="bzi bzi-check-circle bzi-2x"></i>
				<i class="bzi bzi-check-circle bzi-3x"></i>
				<i class="bzi bzi-check-circle bzi-4x"></i>
				<i class="bzi bzi-check-circle bzi-5x"></i>
				<i class="bzi bzi-check-circle bzi-6x"></i>
				<i class="bzi bzi-check-circle bzi-7x"></i>
				<i class="bzi bzi-check-circle bzi-8x"></i>
				<i class="bzi bzi-check-circle bzi-9x"></i>
				<i class="bzi bzi-check-circle bzi-10x"></i>
			</div>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex flex--wrap v-end flex-spacer"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-xs"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-sm"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-lg"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-2x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-3x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-4x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-5x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-6x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-7x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-8x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-9x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">i</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bzi bzi-check-circle bzi-10x"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">i</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">IcoMoon Documentation</h2>
			<p>
				Untuk informasi lebih lanjut mengenai IcoMoon silakan kunjungi link
				berikut:
			</p>
			<p>
				<a href="https://icomoon.io/app/#/select"
					><i class="bzi bzi-flag"></i> Daftar Icon</a
				>
				|
				<a href="https://icomoon.io/#docs"
					><i class="bzi bzi-file"></i> Dokumentasi</a
				>
			</p>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'BazeIconPage',
	data() {
		return {
			users: []
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Baze Icon',
				metaDesc: 'Baze Icon Page',
				metaKeywords: 'baze icon, icon, icomoon'
			})
		}
	},
	jsonld() {
		return {}
	}
}
</script>
