<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Text Color</h2>
			<p class="text-primary">Text class color = ".text-primary"</p>
			<p class="text-secondary">Text class color = ".text-secondary"</p>
			<p class="text-warning">Text class color = ".text-warning"</p>
			<p class="text-danger">Text class color = ".text-danger"</p>
			<p class="text-black">Text class color = ".text-black"</p>
			<p class="text-light-grey">Text class color = ".text-light-grey"</p>
			<p class="text-white">Text class color = ".text-white"</p>
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-primary"</span>&gt;</span>Text class color = ".text-primary"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-secondary"</span>&gt;</span>Text class color = ".text-secondary"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-warning"</span>&gt;</span>Text class color = ".text-warning"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-danger"</span>&gt;</span>Text class color = ".text-danger"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black"</span>&gt;</span>Text class color = ".text-black"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-light-grey"</span>&gt;</span>Text class color = ".text-light-grey"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-white"</span>&gt;</span>Text class color = ".text-white"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Background Color</h2>
			<p class="bg-primary">Background class color = ".bg-primary"</p>
			<p class="bg-secondary">Background class color = ".bg-secondary"</p>
			<p class="bg-warning">Background class color = ".bg-warning"</p>
			<p class="bg-danger">Background class color = ".bg-danger"</p>
			<p class="bg-black">Background class color = ".bg-black"</p>
			<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>
			<p class="bg-white">Background class color = ".bg-white"</p>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-primary"</span>&gt;</span>Background class color = ".bg-primary"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-secondary"</span>&gt;</span>Background class color = ".bg-secondary"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-warning"</span>&gt;</span>Background class color = ".bg-warning"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-danger"</span>&gt;</span>Background class color = ".bg-danger"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-black"</span>&gt;</span>Background class color = ".bg-black"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-light-grey"</span>&gt;</span>Background class color = ".bg-light-grey"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"bg-white"</span>&gt;</span>Background class color = ".bg-white"<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Black Tones</h2>
			<p class="text-black10">
				Black tone = ".text-black10" ($black10)
				<span class="bg-black10">___</span>
			</p>
			<p class="text-black20">
				Black tone = ".text-black20" ($black20)
				<span class="bg-black20">___</span>
			</p>
			<p class="text-black30">
				Black tone = ".text-black30" ($black30)
				<span class="bg-black30">___</span>
			</p>
			<p class="text-black40">
				Black tone = ".text-black40" ($black40)
				<span class="bg-black40">___</span>
			</p>
			<p class="text-black50">
				Black tone = ".text-black50" ($black50)
				<span class="bg-black50">___</span>
			</p>
			<p class="text-black60">
				Black tone = ".text-black60" ($black60)
				<span class="bg-black60">___</span>
			</p>
			<p class="text-black70">
				Black tone = ".text-black70" ($black70)
				<span class="bg-black70">___</span>
			</p>
			<p class="text-black80">
				Black tone = ".text-black80" ($black80)
				<span class="bg-black80">___</span>
			</p>
			<p class="text-black90">
				Black tone = ".text-black90" ($black90)
				<span class="bg-black90">___</span>
			</p>
			<p class="text-black">
				Black tone = ".text-black" ($black) <span class="bg-black">___</span>
			</p>
			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black10"</span>&gt;</span>Black tone = ".text-black10" ($black10)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black20"</span>&gt;</span>Black tone = ".text-black20" ($black20)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black30"</span>&gt;</span>Black tone = ".text-black30" ($black30)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black40"</span>&gt;</span>Black tone = ".text-black40" ($black40)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black50"</span>&gt;</span>Black tone = ".text-black50" ($black50)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black60"</span>&gt;</span>Black tone = ".text-black60" ($black60)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black70"</span>&gt;</span>Black tone = ".text-black70" ($black70)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black80"</span>&gt;</span>Black tone = ".text-black80" ($black80)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black90"</span>&gt;</span>Black tone = ".text-black90" ($black90)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"text-black"</span>&gt;</span>Black tone = ".text-black" ($black)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Link Color</h2>
			<p>
				Link color = <a class="link-primary" href="#">".link-primary"</a> (<a
					href="#"
					>Default link color</a
				>)
			</p>
			<p>
				Link color = <a class="link-secondary" href="#">".link-secondary"</a>
			</p>
			<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>
			<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>
			<p>Link color = <a class="link-black" href="#">".link-black"</a></p>
			<p>
				Link color =
				<a class="link-light-grey" href="#">".link-light-grey"</a>
			</p>
			<p>Link color = <a class="link-white" href="#">".link-white"</a></p>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-primary"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-primary"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span> (<span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>Default link color<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span>)<span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-secondary"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-secondary"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-warning"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-warning"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-danger"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-danger"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-black"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-black"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-light-grey"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-light-grey"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">p</span>&gt;</span>Link color = <span class="hljs-tag">&lt;<span class="hljs-name">a</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"link-white"</span> <span class="hljs-attr">href</span>=<span class="hljs-string">"#"</span>&gt;</span>".link-white"<span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">p</span>&gt;</span></code></pre>
			</div>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'ColorsPage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Colors',
				metaDesc: 'Colors Page',
				metaKeywords: 'color, colors'
			})
		}
	},
	jsonld() {
		return {}
	}
}
</script>
