<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Environment</h2>
			<ul>
				<li>
					<p>
						<strong>NodeJS</strong> versi 8 ke atas. Node harus di-<em
							>install</em
						>
						sebelum meng-<em>install</em> lainnya.
					</p>
					<p>
						<a class="text-light-blue" href="https://nodejs.org/en/">Install</a>
						|
						<a
							class="text-light-blue"
							href="https://nodejs.org/dist/latest-v4.x/docs/api/"
							>Dokumentasi</a
						>
					</p>
				</li>
				<li>
					<p>
						<strong>Yeoman</strong>. Jalankan perintah di bawah di
						<em>command prompt</em>.
					</p>
					<pre><code class="shell hljs">npm i -g yo</code></pre>
				</li>
				<li>
					<p>
						<strong>Gulp</strong>. Jalankan perintah di bawah di
						<em>command prompt</em>.
					</p>
					<pre><code class="shell hljs">npm i -g gulp-cli</code></pre>
				</li>
				<li>
					<p><strong>Git</strong></p>
					<p>
						<a class="text-light-blue" href="http://www.git-scm.com/download/"
							>Install</a
						>
						|
						<a
							class="text-light-blue"
							href="https://github.s3.amazonaws.com/media/progit.en.pdf"
							>Pro Git (PDF)</a
						>
					</p>
				</li>
				<li>
					<p><strong>XAMPP</strong></p>
					<p>
						<a
							class="text-light-blue"
							href="https://www.apachefriends.org/index.html"
							>Install</a
						>
					</p>
				</li>
				<li>
					<p><strong>Generator Baze</strong></p>
					<p>
						Install
						<a
							class="text-light-blue"
							href="https://github.com/suitmedia/generator-suit-baze"
							>generator baze</a
						>
						dengan menjalankan perintah di bawah ini.
					</p>
					<pre><code class="shell hljs">npm install generator-baze -g</code></pre>
					<p>Untuk install ke dalam project frontend, jalankan</p>
					<pre><code class="shell hljs">yo baze</code></pre>
					<p></p>
				</li>
			</ul>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'GetStartedPage',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Get Started',
				metaDesc: 'Get Started Page Baze UI',
				metaKeywords: 'get started, baze ui'
			})
		}
	},
	jsonld() {
		return {}
	}
}
</script>
