<template>
	<main class="flex media-content h-center v-center">
		<div class="index-content text-center text-white font-fira">
			<img
				class="logo"
				height="125"
				src="~/assets/img/apple-icon.png"
				alt="Baze Logo"
			/>
			<p class="h3 mb-36">A minimal setup for your frontend environment</p>

			<div class="bzg">
				<div class="bzg_c mb-16" data-col="s12,m5,l4" data-offset="m1,l2">
					<nuxt-link
						to="/get-started"
						class="full-width btn--suitmedia text-caps"
						>get started</nuxt-link
					>
				</div>
				<div class="bzg_c mb-16" data-col="s12,m5,l4">
					<a
						class="full-width btn--ghost-white text-caps"
						href="https://github.com/suitmedia/suit-baze"
						target="blank"
						>download</a
					>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'HomePage',
	layout: 'landing',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze Documentation',
				metaDesc: 'A minimal setup for your frontend environment',
				metaKeywords: 'baze ui, suitmedia, frontend, front-end'
			})
		}
	},
	jsonld() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.index-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}

.logo {
	margin: 25px;
}
</style>
