<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">
				Responsive Image (Resolution Switch)
			</h2>
			<nuxt-img
				src="/assets/img/koala.jpg"
				format="webp"
				sizes="sm:100px md:500px lg:1010px"
				alt="Koala Doll"
			/>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">nuxt-img</span>
     <span class="hljs-attr">src</span>=<span class="hljs-string">"/assets/img/koala.jpg"</span>
     <span class="hljs-attr">format</span>=<span class="hljs-string">"webp"</span>
     <span class="hljs-attr">sizes</span>=<span class="hljs-string">"sm:100px md:500px lg:1010px"</span>
     <span class="hljs-attr">alt</span>=<span class="hljs-string">"Koala Doll"</span>
/&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Responsive Image (Picture tag)</h2>
			<nuxt-picture
				src="/assets/img/koala-mother.jpg"
				format="webp"
				:img-attrs="{
					style: 'display:block; margin: 0 auto;'
				}"
			/>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">nuxt-picture</span>
     <span class="hljs-attr">src</span>=<span class="hljs-string">"/assets/img/koala-mother.jpg"</span>
     <span class="hljs-attr">format</span>=<span class="hljs-string">"webp"</span>
     <span class="hljs-attr">:img-attrs</span>=<span class="hljs-string">"{
          style: 'display:block; margin: 0 auto;'
     }"</span>
/&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Lazy Loading</h2>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				src="/picsum/80/100"
				width="80"
				height="100"
				:placeholder="base64DefaultImage"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>
			<nuxt-img
				class="mb-4"
				loading="lazy"
				src="/picsum/80/100"
				:placeholder="base64DefaultImage"
				width="80"
				height="100"
			/>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">nuxt-img</span>
     <span class="hljs-attr">class</span>=<span class="hljs-string">"mb-4"</span>
     <span class="hljs-attr">loading</span>=<span class="hljs-string">"lazy"</span>
     <span class="hljs-attr">src</span>=<span class="hljs-string">"/picsum/80/100"</span>
     <span class="hljs-attr">:placeholder</span>=<span class="hljs-string">"data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="</span>
     <span class="hljs-attr">width</span>=<span class="hljs-string">"80"</span>
     <span class="hljs-attr">height</span>=<span class="hljs-string">"100"</span>
/&gt;</span></code></pre>
			</div>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'ResponsiveImagePage',
	data() {
		return {
			base64DefaultImage:
				'data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs='
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Responsive Image',
				metaDesc: 'Responsive Image Page',
				metaKeywords: 'responsive image, nuxt image, picture'
			})
		}
	},
	jsonld() {
		return {}
	}
}
</script>
