<template>
	<main>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Tabs</h2>
			<ul class="tabs__bar js-tabs">
				<li
					v-for="tab in tabs"
					:key="tab"
					class="tabs__nav js-tabs-link"
					:class="[{ 'is-active': currentTabDefault === tab }]"
					@click="currentTabDefault = tab"
				>
					{{ tab }}
				</li>
			</ul>

			<div class="tabs__content">
				<div class="tabs__item is-active">
					{{ currentDefault }}
				</div>
			</div>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</section-default>
		<section-default :line="true">
			<h2 class="text-suitmedia font-fira">Justified Tabs</h2>
			<ul class="tabs__bar--justify js-tabs">
				<li
					v-for="tab in tabs"
					:key="tab"
					class="tabs__nav js-tabs-link"
					:class="[{ 'is-active': currentTabJustify === tab }]"
					@click="currentTabJustify = tab"
				>
					{{ tab }}
				</li>
			</ul>

			<div class="tabs__content">
				<div class="tabs__item is-active">
					{{ currentJustify }}
				</div>
			</div>

			<div class="f-14">
				<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar--justify js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
			</div>
		</section-default>
	</main>
</template>

<script>
export default {
	name: 'TabsPage',
	data() {
		return {
			currentTabDefault: 'TAB 1',
			currentTabJustify: 'TAB 1',
			tabs: ['TAB 1', 'TAB 2', 'TAB 3', 'TAB 4'],
			contentDefault: '',
			contentJustify: ''
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Tabs',
				metaDesc: 'Tabs Page',
				metaKeywords: 'tabs'
			})
		}
	},
	computed: {
		currentDefault() {
			return `Item ${this.currentTabDefault.slice(-1)}`
		},
		currentJustify() {
			return `Item ${this.currentTabJustify.slice(-1)}`
		}
	},
	jsonld() {
		return {}
	}
}
</script>
